{% extends '::base.html.twig' %}

{% block title %}Enseignant | Accueil{% endblock %}

{% block body %}

	<h1>Enseignant</h1>
	<p><a href="{{ path('terra_nova_homepage') }}">Back to Index</a></p>
	<p><a href="{{ path('terra_nova_enseigant_profile_show') }}">Profile</a><br /></p>
	<p><a href="{{ path('fos_user_security_logout') }}">Déconnection</a></p>
	
{% endblock %}