{% extends '::base.html.twig' %}

{% block body %}

	<h1>Enseignant</h1>
	<p><a href="{{ path('fos_user_profile_show') }}">Profile</a><br /></p>
	<p><a href="{{ path('fos_user_security_logout') }}">Déconnection</a></p>
	
{% endblock %}