/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/web/css
/web/js
/web/img/badge/*.png
/web/img/trophy/*.png
/web/img/theme/*.png
