{% extends '::base.html.twig' %}

{% block title %}Enseignant | Création d'élèves{% endblock %}

{% block body %}
    <h1>Student creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
    <a href="{{ path('Eleve', { 'id' : idClasse }) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
