@import style

body
	background-image: none

/**** STUDENT ****/
h4
	.control-group
		.control-label
			width: auto
			margin-right: 5px
		.controls
			select
				width: auto

/**** STUDENT-LIST ****/			
.content-student-list
	.student-list
		list-style-type: none
		li
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			box-sizing: border-box
			margin:
				right: 1%
				bottom: 1%
			float: left
			width: 19%
			border-radius: 15px
			background-image: url('../img/grain.png')
			a
				color: #000
				display: flex
				align-items: center
				justify-content: center
				padding: 10px
				img
					width: 26%
				div
					margin:
						left: 3%
					width: 65%
					span
						font-family: 'vagroundedsrd-thin'
						font-size: 15px
						color: $blueTitle
				&:hover
					text-decoration: none
					background-color: $greyHover
					border-radius: 15px	
				i
					font-size: 43px
					margin-right: 5px
			&:last-child
				a
					img
						width: 28%

/**** PROFIL ****/
.profil
	margin:
		top: 20px
	label
		font-family: 'vagroundedsrd-light'
		font-size: 14px
		color: $greenLabel
	h4
		margin:
			bottom: 10px
	.span6
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		// padding:
		// 	left: 30px
		// 	right: 30px
		input, textarea, select
			width: 100%
		input[type=image]
			width: 168px