@import style

.wipo-animate
	position: absolute
	z-index: 999
	width: 10%
	top: 80px
	left: 40px

.scroll-area
	position: relative
	overflow: auto
	height: 100%
	.game
		height: 100%
		position: relative
		.game-title
			position: absolute
			width: 100%
			z-index: 9
			text-align: center
			margin-top: 5%
			h1
				color: #FFF
		.command
			position: absolute
			bottom: 5%
			right: 5%
			z-index: 9
			button
				font-size: 20px
		.carousel
			margin: 0
			height: 100%
			.carousel-indicators
				top: auto
				right: auto
				bottom: 10px
				display: block
				text-align: center
				width: 100%
				li
					float: none
					display: inline-block
			.carousel-inner
				height: 100%
				div
					height: 100%
					background-size: cover
					background-position: center center
					background-repeat: no-repat
		img
			width: 100%
	.cloud-background
		margin-top: -10px
		background-image: url('../img/background-homepage.png')
		background-size: cover
		background-position: top center
		background-repeat: no-repat
		h4
			font-family: 'marujo'
			font-size: 30px
			color: $yellowTitle
			text-align: center
		.teaser
			padding:
				bottom: 40px
			h4
				padding:
					top: 30px
					bottom: 30px
			.teaser-content
				display: flex
				align-items: center
				justify-content: center
		.principle
			background-color: rgba(0,0,0,0.1)
			padding-bottom: 80px
			h4
				padding:
					top: 30px
					bottom: 30px
			.principle-content
				display: flex
				align-items: center
				justify-content: center
		.team
			h4
				padding:
					top: 30px
					bottom: 15px
			p
				font-family: 'vagroundedsrd-light'
				padding:
					left: 10%
					right: 10%
					bottom: 40px
				font-size: 16px
				text-align: center
				color: $labelBlue
			.span4
				display: flex
				align-items: center
				justify-content: center
				img
					border: 20px solid #fff
				p
					margin-top: 20px
					font-size: 14px
					span
						font-size: 20px
						font-family: 'Marujo'
						color: #FFF
		.contact
			background-color: rgba(0,0,0,0.1)
			background-image: url('../img/feuillages.png')
			background-position: center center
			background-repeat: no-repeat
			padding-bottom: 40px
			h4
				padding:
					top: 30px
					bottom: 15px
			p
				text-align: center
				padding:
					left: 10%
					right: 10%
					bottom: 40px
				font-size: 32px
			.span4, .span8
				-webkit-box-sizing: border-box
				-moz-box-sizing: border-box
				box-sizing: border-box
				padding:
					left: 30px
					right: 30px
				label
					color: $labelBlue
					font-size: 16px
					font-family: 'vagroundedsrd-bold'
				input, select
					border: 0
					background: transparent
					box-shadow: none
					-webkit-appearance: none
					font-family: 'Arial'
					color: $labelBlue
					font-size: 16px
			.span8
				padding:
					right: 100px
			.span4
				padding:
					left: 100px
				input, select
					-webkit-box-sizing: border-box
					-moz-box-sizing: border-box
					box-sizing: border-box
					height: 47px
					padding:
						left: 20px
						right: 20px
				input
					&:first-of-type
						background-image: url('../img/input/name.png')
						background-size: cover
						background-position: top left
						background-repeat: no-repeat
					&:nth-of-type(2)
						background-image: url('../img/input/firstName.png')
						background-size: cover
						background-position: top left
						background-repeat: no-repeat
					&:nth-of-type(3)
						background-image: url('../img/input/email.png')
						background-size: cover
						background-position: top left
						background-repeat: no-repeat
				select
					background-image: url('../img/input/youAre.png')
					background-size: cover
					background-position: top left
					background-repeat: no-repeat
					padding:
						top: 10px
			.span8
				position: relative
				textarea
					border: 7px solid $borderArea
					width: 100%
					height: 280px
					// -webkit-box-sizing: border-box
					// -moz-box-sizing: border-box
					// box-sizing: border-box
					// width: 100%
					// padding:
					// 	left: 30px
					// 	right: 30px
					// 	top: 40px
					// 	bottom: 40px
					// background-image: url('../img/input/textarea.png')
					// background-size: cover
					// background-position: top left
					// background-repeat: no-repeat
				input
					position: absolute
					width: 80px
					bottom: -30px
					right: 8%
			label
				font-size: 16px
				text-transform: uppercase
				color: $greyFont

@media (max-width: 979px)
	.scroll-area
		.cloud-background
			.contact
				.span8
					padding:
						right: 0
					input
						width: 80px
						bottom: -30px
						right: -8%
				.span4
					padding:
						left: 0

@media (max-width: 767px)
	.scroll-area
		.cloud-background
			.contact
				.span8
					padding:
						right: 0
					textarea
						width: 95%
					input
						width: 80px
						bottom: -30px
						right: 0
				.span4
					padding:
						left: 0
						left: 30px

@media (max-width: 520px)
	.wipo-animate
		display: none
	.scroll-area
		.game
			height: 250px
		.cloud-background
			.contact
				.span8
					input
						width: 80px
						bottom: -30px
