@import ../sass-bootstrap/lib/bootstrap
@import ../sass-bootstrap/lib/responsive
@import variable

*
	text-shadow: none !important

h1, h2, h3, h4, h5, h5
	margin: 0

header
	background-color: black
	line-height: 25px
	font-weight: 0 !important
	.navbar
		margin-bottom: 0
	.navbar-inner
		background: none
		background-image: none
		border: none
		border-radius: 0
		box-shadow: none
		height: 50px
		a
			color: white !important
			font-size: 20px
			img
				vertical-align: middle
		ul
			height: 50px
			li
				line-height: 35px !important
				a
					font-size: 14px

.popover
	width: 300px
	.connexion
		.connexion-box
			width: 94%
		label
			font-size: 14px
		.remember-me
			font-size: 12px
			a
				font-size: 12px
		ul	
			list-style-type: none
			margin: 0
			width: 100%
			display: flex
			align-items: center
			justify-content: center
			li
				flex: 1
				text-align: center
				label:first-child
					margin:
						top: 10px
						bottom: 0
		.forget-password
			color: #000 !important
		.error
			font-size: 12px