/**** COLOR ****/
$menuBlue: #004457
$labelBlue: #0b5a5b
$yellowTitle: #f8c835
$borderArea: #5aa3ae

$lightGrey: #eeeeee
$grey: #c4c4c4
$greyFont: #b2b2b2
$greyHover: #c4c4c4
$greyThemeHover: #717171

/**** FONT FAMILY ****/
@font-face
    font-family: 'vagroundedsrd-black'
    src: url("/bundles/terranova/fonts/VAG-Rounded-Std/VAGROUNDEDSTD-BLACK.otf")

@font-face
    font-family: 'vagroundedsrd-bold'
    src: url("/bundles/terranova/fonts/VAG-Rounded-Std/VAGROUNDEDSTD-BOLD.otf")

@font-face
    font-family: 'vagroundedsrd-light'
    src: url("/bundles/terranova/fonts/VAG-Rounded-Std/VAGROUNDEDSTD-LIGHT.otf")

@font-face
    font-family: 'marujo'
    src: url("/bundles/terranova/fonts/Marujo/MARUJO.otf")