{% if error %}
    <p>{{ error|trans }}</p>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <br />
    <label for="username">Login</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    <br />
    <label for="password">Password</label>
    <input type="password" id="password" name="_password" required="required" />
	<br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">se souvenir de moi</label>
    <br />
    <input type="submit" id="_submit" name="_submit" value="Valider" />
</form>