<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
          {% stylesheets filter="sass"
                  "bundles/terranova/css/backend.sass"
               %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
          {% endstylesheets %}
        {% endblock %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
    <div id="main" class="container-fluid">
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# display the navigation only if an user is logged in #}
    {% block mainmenu %}
    <div class="row-fluid">
      <div class="navbar">
        <div class="navbar-inner">
            {% include 'TerraNovaBundle:User:user.info.html.twig' with { 'user' : app.user } %}
        </div>
       </div>
    </div>
    {% endblock %}
   {% endif %}
     {% block body %}

     {% endblock %}
     </div>
      {% javascripts
            'jquery/jquery.js'
            'jquery/jquery-ui.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-dropdown.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-collapse.js'
        %}
      <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% block javascripts %}
      {% endblock %}
    </body>
</html>