{% extends "::base.html.twig" %}

{% block title %}Enseignant | Confirmation en cours{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <p><a href="{{ path('terra_nova_homepage') }}">Back to index</a></p>

{% endblock  %}