{% extends "::base.html.twig" %}

{% block title %}Ensaignant | Confirmation en cours{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<h1>Inscription</h1>
	    <p class="error-content">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	    <p><a class="back" href="{{ path('terra_nova_homepage') }}"><img src="{{ asset('bundles/terranova/img/back-button.png') }}" alt="back-button">retour</a></p>
	</div>
{% endblock  %}