{% extends "::base.html.twig" %}

{% block title %}Enseignant | Inscription{% endblock %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}
	<p><a href="{{ path('terra_nova_enseigant_connection') }}">Back to login</a></p>
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="Inscription" />
	    </div>
	</form>

{% endblock  %}