<div class="nav nav-collapse-top pull-left">

  <ul class="nav full pull-left">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">
        <span>
          <span>Etablissement</span>
        </span>
      </a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">
        <span>
          <span>Theme</span>
        </span>
      </a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">
        <span>
          <span>Badge</span>
        </span>
      </a>
    </li>
  </ul>

</div>