<div class="nav nav-collapse-top pull-left">

  <ul class="nav full pull-left">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span>
          <span>Etablissement</span>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('terra_nova_admin_etablissement') }}"><span>Tous les établissement</span></a></li>
        <li><a href="{# {{ path('logout') }} #}"><span>Établissement non activé</span></a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">
        <span>
          <span>Theme</span>
        </span>
      </a>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle">
        <span>
          <span>Badge</span>
        </span>
      </a>
    </li>
  </ul>

</div>