{% extends "::base.html.twig" %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}

	<p><a href="{{ path('terra_nova_enseigant_profile_show') }}">Back to profil</a></p>

	<form action="{{ path('terra_nova_enseigant_profile_edit') }}" {{ form_enctype(form) }} method="POST">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="Valider" />
	    </div>
	</form>


{% endblock  %}
