{% extends "::base.html.twig" %}

{% block title %}Enseignant | Profil{% endblock %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}

	<p><a href="{{ path('terra_nova_enseigant_index') }}">Go to Enseignant</a></p>
	<div>
		<p>Username : {{ user.username }}</p>
		<p>Email : {{ user.email }}</p>
	</div>
	<p><a href="{{ path('terra_nova_enseigant_profile_edit') }}">Edit profil</a></p>

{% endblock body %}