{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant.sass'
        filter="cssrewrite,sass" output='css/enseignant.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Profil{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<h1>Mon compte</h1>

		<div class="row profil">
			<div class="span6">
				{% render(controller('TerraNovaBundle:Profile:edit')) %}
			</div>
			<div class="span6">
				{% render(controller('TerraNovaBundle:ChangePassword:ChangePassword')) %}
			</div>
			<div class="span6">
				{% render(controller('TerraNovaBundle:Classe:current')) %}
			</div>
		</div>
	</div>
{% endblock body %}