{% extends "::base.html.twig" %}

{% block body %}

	{% trans_default_domain 'FOSUserBundle' %}

	<a href="{{ path('terra_nova_enseigant_index') }}">Go to Enseignant</a>
	<div>
		<p>Username : {{ user.username }}</p>
		<p>Email : {{ user.email }}</p>
	</div>

{% endblock body %}