{% extends "::base.html.twig" %}

{% block title %}Enseignant | Reinitilisation confirmer{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<p>
	{{ 'resetting.check_email'|trans({'%email%': email}) }}
	</p>

{% endblock %}