{% extends "::base.html.twig" %}

{% block title %}Enseignant | Reinitilisation{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<p>{{ 'resetting.password_already_requested'|trans }}</p>

{% endblock %}