{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Creation d'un thème{% endblock %}

{% block body %}
    <div id="breadcrumb">
     	<a href="{{ path('terra_nova_admin_etablissement') }}" title="" class="tip-bottom">Thèmes</a>
    	<span class="current">Création d'un thème</span>
    </div>

    <h1>Création d'un thème</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('theme') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
