{% extends '::base.html.twig' %}

{% block body %}
	Hello Guy ! <br />
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<a href="{{ path('fos_user_profile_show') }}">Profile</a>
	{% else %}
		<a href="{{ path('fos_user_security_login') }}">Login</a>
	{% endif %}
{% endblock %}
