{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<h1>Accueil</h1><br />
	{% if is_granted("ROLE_ENSEIGNANT") %}
		<a href="{{ path('terra_nova_enseigant_index') }}">Enseignant</a><br />
		<a href="{{ path('terra_nova_enseignant_logout') }}">Déconnexion</a>
	{% else %}
		<a href="{{ path('terra_nova_enseigant_connection') }}">Connexion</a>
	{% endif %}

{% endblock %}
