{% extends '::base.html.twig' %}

{% block title%}Enseignant | Séances{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/seance.sass'
        filter="cssrewrite,sass" output='css/seance.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="/bundles/terranova/jquery-ui/themes/cupertino/jquery-ui.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes séances</h1>
        <ul id="myTab" class="nav nav-tabs seance">
            <li><a href="#next-sessions" data-toggle="tab" >Prochaines séances</a></li>
            <li><a href="#archives" data-toggle="tab" >Archives</a></li>
            <li><a href="#create-seance" data-toggle="tab" >Créer une séance</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="next-sessions">
                {{ render(controller('TerraNovaBundle:Seance:nextSession')) }}
            </div>
            <div class="tab-pane fade" id="archives">
                {{ render(controller('TerraNovaBundle:Seance:archive')) }}
            </div>
            <div class="tab-pane fade" id="create-seance">
                {{ render(controller('TerraNovaBundle:Seance:new')) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
          resizeFunction.init();
        })

        
        $("form input.date").datepicker({
            dateFormat: 'dd/mm/yy', 
            firstDay:1
        }).attr("readonly","readonly");
    </script>    
{% endblock %}