{% extends "::base.html.twig" %}

{% block title %}Enseignant | Changement de mot de passe{% endblock %}

{% block body %}
	
	<p><a href="{{ path('terra_nova_enseigant_profile_show') }}">Back to profil</a></p>

	{% trans_default_domain 'FOSUserBundle' %}

	<form action="{{ path('terra_nova_enseigant_profil_change_password') }}" {{ form_enctype(form) }} method="POST">
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="Valider" />
	    </div>
	</form>

{% endblock %}